@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
  height: 100vh;
  color: white;
}

.bg-img {
  background-image: url(../background-img/chor-tsang-07mSKrzKiRw-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.bg-img-gray {
  height: 100%;
  background-color: rgba(48, 48, 48, 0.1);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navbar .brand-name {
  font-family: 'Caveat', sans-serif;
  font-size: 1.5rem;
  margin: 1rem;
  color: white;
}

.navbar .navbar-links {
  background-color: rgba(253, 253, 253, 0.7);
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  border-bottom-left-radius: 1rem;
}

.navbar .navbar-links ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  font-family: 'Oswald', sans-serif;
}

.navbar .navbar-links ul :hover {
  color: white;
}

.navbar .navbar-links a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar .navbar-links li {
  list-style-type: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main h1 {
  font-size: 12rem;
  margin-top: 1rem;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.99);
  font-family: 'Caveat', sans-serif;
}

.main .main-desc p {
  font-size: 2.1rem;
  font-style: italic;
}

.main .main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

.main .main-box .main-box-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  height: 3rem;
  padding: 0.2rem 2rem;
  -webkit-box-shadow: 1px 0px 19px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 19px 0px rgba(0, 0, 0, 0.2);
  font-family: 'Oswald', sans-serif;
}

.main .main-box .main-box-links a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.99);
}

.main .main-box .main-box-links a:hover {
  color: lightblue;
}
/*# sourceMappingURL=pen.css.map */